*{
    padding: 0px;
    margin: 0px;
}
.biggerbox{
    margin: 0px;
    padding: 0px;
    position: absolute;
    background-color: blue;
    width: 100%;
    height: 100%;
    display: flex;
  justify-content: center;
  align-items: center;
}

.bigbox{
    position:relative;
    display: flex;
   justify-content: space-around;
   align-items: center;
width: 80%;
height: 80%;
background-color: brown;
}
#red{
    width: 100px;
    height: 200px;
    background-color: cadetblue;
}
